@media screen and (min-width: 920px) {
    .main {
        width: 100%;
    }
}

blockquote {
    font-style: normal;
}

figure h4 {
    font-size: 0.8em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

.admonition {
    margin-bottom: 1.5em;
    padding: 1em;
    background: #eee;
}

.admonition :last-child {
    margin-bottom: 0;
}

.admonition-icon {
    margin: 0em 0.4em 0 0;
}
