<figure>
{{- if .Get "file" }}
    {{- $file := .Get "file" -}}
    {{ if (fileExists (printf "%s.svg" $file)) }}
        <img src="{{ $file }}.svg"
            {{- with .Get `width` }} width="{{ . }}" }}{{ end -}}
            {{- with .Get `class` }} class="{{ . }}"{{ end -}}
            {{- with .Get `alt` }} alt="{{ . }}"{{ end -}}
        >
    {{ else }}
        <div class="mermaid{{- with .Get `class` }} {{ . }}{{ end -}}">
            {{- readFile (printf "%s.mmd" $file) -}}
        </div>
    {{ end }}
{{ else }}
    <div class="mermaid{{- with .Get `class` }} {{ . }}{{ end -}}">
        {{- .Inner -}}
    </div>
{{ end -}}
{{- if .Get "clear" | not }}
    {{- .Page.Scratch.Add "imageCount" 1 -}}
    <figcaption>
        {{ .Page.Scratch.Get "imageCount" | printf (i18n "figureNumberFormat") | markdownify }}
        {{ with .Get "alt" -}}{{ . | markdownify }}{{- end }}
    </figcaption>
{{ end -}}
</figure>
